fieldset {
  padding: var(--space-xs);
  display: flex;
  flex-direction: column;

  ul {
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin-bottom: var(--space-l);
  }

  span {
    border: 1px solid var(--black);
    height: 1rem;
    width: 1rem;
  }

  li {
    display: flex;
    gap: var(--space-xs);
    text-transform: uppercase;
    font-family: monospace;
    align-items: center;
    margin-bottom: var(--space-2xs);

    label {
      margin: 0;
    }
  }
  label {
    font-weight: bold;
  }
}

#svgFile {
  max-width: 40ch;
}

label {
  display: block;
  margin-bottom: var(--space-2xs);
}

input {
  display: block;
  margin-bottom: var(--space-l);
}

input:last-child {
  margin-bottom: 0;
}
