fieldset {
  border: 1px solid var(--black);
  padding: var(--space-xs);
  margin-bottom: var(--space-m);

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: var(--space-l);
  }

  li {
    display: flex;
    text-transform: uppercase;
    font-family: monospace;
    align-items: center;
    margin-bottom: var(--space-2xs);

    label {
      margin: 0;
      margin-right: var(--space-m);
    }
  }
}

label {
  display: block;
  margin-bottom: var(--space-2xs);
}

input {
  display: block;
  margin-bottom: var(--space-l);
}

input:last-child {
  margin-bottom: 0;
}
