body {
  padding: var(--space-2xl) var(--space-s);
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex-grow: 1;
  }
}

.application {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.application__inputs {
  border: 1px solid var(--black);
  width: 100%;
}

.application__rendering {
  border: 1px solid var(--black);
  width: 100%;
  min-height: 600px;
}

@media (min-width: 1000px) {
  .application {
    flex-wrap: nowrap;
  }

  .application__inputs {
    max-width: 20vw;
  }

  .application__rendering {
    min-width: 600px;
  }
}

footer {
  border-top: 3px solid var(--red);
  padding-top: var(--space-xl);
  margin-top: var(--space-3xl);
}
